---
import Card from './Card/index.astro';
---

<Card
    colSpan="md:col-span-1"
    rowSpan="md:row-span-6"
    title="¿Cómo voy a ayudarte?"
>
    <div class="flex flex-col gap-2 mt-2">
        <p class="text-sm font-light">
            Si estás liderando una startup o empresa tecnológica, es muy
            probable que enfrentes desafíos como:

            <ul
                class="text-sm
                font-light
                  text-gray-300"
            >
                <li>- No saber qué tecnologías usar.</li>
                <li>
                    - Quieres contratar a alguien pero, ¿cómo sabrás si es
                    bueno?
                </li>
                <li>
                    - ¿Como puedes diferenciar tu producto de la competencia?
                </li>
            </ul>
        </p>

        <p class="text-sm font-light mt-4">
            Te ayudaré a desarrollar e implementar soluciones SaaS, o formarte
            para que puedas hacerlo por ti mismo. Juntos, montaremos el equipo
            de desarrollo que tu producto necesita.
        </p>
        <p class="text-sm font-light mt-4">
            Desarrollaremos una estrategia personalizada que cumpla tus
            objetivos, implementándola mientras mantenemos las operaciones de tu
            negocio funcionando eficientemente.
        </p>
    </div>
</Card>
