---
import Card from '../components/Card/index.astro';
import EverglowModal from './EverglowModal.astro';
---

<Card
    colSpan="md:col-span-1"
    rowSpan="md:row-span-1"
    colorText="text-neutral-900"
    classNames={'h-[80px!important]'}
>
    <div
        class="sm:h-[100px] h-full w-full absolute cursor-pointer z-10 inset-0"
        id="open-dialog"
    >
        <img
            src="/everglow.jpeg"
            alt="Everglow"
            class="object-cover w-full h-[80px]"
        />
    </div>
</Card>

<div
    id="dialog-backdrop"
    class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none absolute z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
    <EverglowModal />
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const openButton = document.getElementById('open-dialog');
        const dialogBackdrop = document.getElementById('dialog-backdrop');
        const dialog = document.getElementById('dialog');
        const cancelButton = document.getElementById('cancel-button');

        openButton?.addEventListener('click', () => {
            console.log('XXXX');
            dialogBackdrop?.classList.add('opacity-100', 'pointer-events-auto');
            dialogBackdrop?.classList.remove(
                'opacity-0',
                'pointer-events-none'
            );
            dialog?.classList.add('opacity-100', 'translate-y-0', 'scale-100');
            dialog?.classList.remove(
                'opacity-0',
                '-translate-y-28',
                'scale-90'
            );
        });

        dialogBackdrop?.addEventListener('click', (event) => {
            if (event.target === dialogBackdrop) {
                dialogBackdrop?.classList.add(
                    'opacity-0',
                    'pointer-events-none'
                );
                dialogBackdrop?.classList.remove(
                    'opacity-100',
                    'pointer-events-auto'
                );
                dialog?.classList.add(
                    'opacity-0',
                    '-translate-y-28',
                    'scale-90'
                );
                dialog?.classList.remove(
                    'opacity-100',
                    'translate-y-0',
                    'scale-100'
                );
            }
        });

        cancelButton?.addEventListener('click', () => {
            dialogBackdrop?.classList.add('opacity-0', 'pointer-events-none');
            dialogBackdrop?.classList.remove(
                'opacity-100',
                'pointer-events-auto'
            );
            dialog?.classList.add('opacity-0', '-translate-y-28', 'scale-90');
            dialog?.classList.remove(
                'opacity-100',
                'translate-y-0',
                'scale-100'
            );
        });
    });
</script>
